
#infoPanel{
  background-color: #a78172;
  position: sticky;
  top:25%;
  padding-top: 25;
}
.table_columns{
  position: sticky;
  font-size: 25;
  background-color: #96D195;
  padding: 10;
}
.table_rows{
  font-size: 20;
  background-color: #96D195;
  position: sticky;
  padding: 10;
}

#seachBar{
  position: sticky;
  margin: 100;;
  background-color: #6d63f6;
  padding: 5;
  margin:5%;
  font-size: 25;
}
#searchInput{
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}
