#infoPanel{
  background-color: #d63e3e;
  position: relative;
  padding-top: 25;
}
.table_columns{
  position: sticky;
  font-size: 25;
  background-color: #96D195;
  padding: 10;
}
.table_rows{
  font-size: 20;
  background-color: #96D195;
  position: sticky;
  padding: 10;
}

#seachBar{
  position: relative;
  margin: 100;;
  background-color: #C3C3C3;
  padding: 15;
  margin:15;
  font-size: 35;
}
#searchInput{
  padding-inline-start: 15;
  padding-inline-end: 15;
}